@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #1674D1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #1674D1;
  box-shadow: inset 0 0 6px rgba(22, 116, 209, 0.1);
}

/***** Start keyframe Section From Left To right animation *****/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    opacity: 0.7;
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
/*****   End keyframe Section From Left To right animation   *****/
/*****  Start keyframe Section From Right To Left animation  *****/
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    opacity: 0.7;
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
/*****   End keyframe Section From Left To Right animation   *****/
/*****   Start keyframe Section From Bottom To Top animation   *****/
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  80% {
    opacity: 0.7;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
/*****   Start keyframe Section From Bottom To Top animation   *****/
.text-center-class {
  text-align: center;
}

.margin-bottom-8 {
  margin-bottom: 8rem;
}

.margin-bottom-small {
  margin-bottom: 2rem;
}

.padding-top-9 {
  padding-top: 9rem;
}

.padding-top-15 {
  padding-top: 15rem;
}

.img-footer {
  width: 50px;
  margin-bottom: 2rem;
  padding-left: 1rem;
}

a {
  color: #777;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #FFF;
}

.heading-primary {
  color: #FFF;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3rem;
}
.heading-primary--main {
  display: block;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1.5rem;
  animation: moveInLeft 2s linear;
}
.heading-primary--main-2 {
  color: #1674D1;
}
.heading-primary--main-white {
  color: #FFF;
}
.heading-primary--sub {
  display: block;
  font-size: 7rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveInRight 2s linear;
}
.heading-primary--sub-2 {
  color: #1674D1;
}

.heading-primary-2 {
  color: #FFF;
  margin-bottom: 3rem;
  font-size: 2rem;
  animation: moveInLeft 2s linear;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #1674D1, #43abff);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}
.heading-secondary:hover {
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
  color: #777;
  padding-left: 1rem;
  padding-right: 1rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}
.paragraph-white {
  font-size: 1.6rem;
  color: #FFF;
}

.section-about {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.section-service {
  margin-top: 10rem;
  margin-bottom: 10rem;
  background-image: url("../img/cover.jpg");
  background-size: cover;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.section-propaganda {
  background-image: url("../img/co.jpg");
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 4rem;
}

.section-update {
  margin-top: 12rem;
  background-image: url(../img/section1.jpg);
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.footer {
  background-color: #222;
  padding-top: 10rem;
  padding-bottom: 2rem;
  text-align: center;
}
.footer__contents {
  padding-top: 3rem;
}
.footer__contents--icon {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.header {
  height: 100vh;
  background-image: url("../img/slide02-03.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  height: 10rem;
}
.header__text-box {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 60%;
}

@media (max-width: 780px) {
  html {
    font-size: 55%;
  }

  .heading-primary--sub {
    display: none;
  }
}
.btn {
  /***** End all shared butons style *****/
  /***** Start btn Animated *****/
  /*****  End btn Animated  *****/
  /***** Start white buton style *****/
  /***** End white buton style *****/
}
.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: 0;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s;
}
.btn--animated-top-bottom {
  animation: moveInBottom 2s linear;
}
.btn--white {
  background-color: #FFF;
  color: #777;
}
.btn--white::after {
  background-color: #FFF;
}
.btn--blue {
  background-color: #1674D1;
  color: #FFF;
}
.btn--blue::after {
  background-color: #1674D1;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #1674D1;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #1674D1;
  padding: 3px;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: #1674D1;
  color: #FFF;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

/**** Go Up Button ****/
#goUPButton {
  display: none;
  font-size: 35px;
  color: #FFF;
  background-color: #000;
  border-radius: 50%;
  width: 52px;
  height: 53px;
  padding-bottom: 55px;
  position: fixed;
  right: 20px;
  bottom: 19px;
  cursor: pointer;
  z-index: 999999;
  text-align: center;
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 2rem;
}
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
.composition__photo--p2 {
  right: 0;
  top: 2rem;
}
.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}
.composition__photo:hover {
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}
.composition__photo--service {
  width: 90%;
  border-radius: 2px;
  transition: all 0.2s;
  outline-offset: 2em;
}
.composition__photo--service:hover {
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.primary-box {
  padding-top: 5rem;
}
.primary-box li {
  position: relative;
  display: block;
  background: #f4f3f0;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: #737879;
  padding: 27px 20px 28px 66px;
  margin-bottom: 10px;
  transition: all 0.5s;
}
.primary-box li::before {
  position: absolute;
  content: "";
  font-family: "Font Awesome 5 Free";
  left: 30px;
  top: 27px;
  font-size: 16px;
  color: #008391;
  font-weight: 600;
}
.primary-box li:hover {
  background: #1674D1;
  color: #FFF;
}

.card {
  background-color: transparent !important;
  padding-bottom: 4rem;
  border: 0px !important;
  transition: all 0.5s;
  margin-top: 1rem;
}
.card__img {
  width: 100%;
}
.card__heading {
  padding-top: 6rem;
  padding-bottom: 1rem;
}
.card:hover {
  background-color: #1674D1 !important;
}
.card:hover {
  padding-top: 0.3rem;
}
.card:hover .paragraph {
  color: #FFF;
}

/*# sourceMappingURL=main.css.map */
